* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

body {
  font-family: "Amiko";
  background-color: white;
}

a {
  color:orange;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#header {
  padding-top: 50px;
  text-align: center;
}

#header h1 {
  font-weight:400;
}

#navbar {
  text-align: center;
  padding-top: 20px;
}

#navbar ul li {
  display: inline-block;
  margin: 0 30px;
  text-transform: uppercase;
}

#navbar ul li a {
  color: #000;
  text-decoration: none;
}
/*navbar ul li.active a is only anchors of active items*/
#navbar ul li.active a, #navbar ul li a:hover {
  color: orange;
  transition: color 0.25s ease;
}

#content {
  display: flex;
  margin: 0 auto;
  width: 760px;
  padding-top: 100px;
}

#photo {
  width: 30%;
  font-size: 12px;
}

#photo img {
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
}

#photo p {
  text-align: center;
}

#description {
  width: 70%;
  padding-left: 50px;
}

#iconbar  {
  margin-top: 80px;
  text-align:center;
}

#iconbar a {
  margin: 0 12px;
}

/*Styling for blog.html*/


.carousel-container {
  width: 42%;
  margin: auto;
  margin-top: 70px;
  border: 3px solid white;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: flex;
  width: 100%;
}

#prevButton {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  font-size: 30px;
  color: white;
  opacity: 0.7;
  cursor: pointer;
}

#nextButton {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  font-size: 30px;
  color: white;
  opacity: 0.7;
  cursor: pointer;
}

.carousel-image {
  position: relative;
}

.carousel-image span {
  color: black;
  z-index: 10;
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 16px;
  text-align: center;
}

/*Styling portfolio.html*/
#portfolio-wrapper {
  width: 1200px;
  display: flex;
  justify-content: center;
  margin: 50px auto;
  font-family: "Merriweather";
  font-size: 13px;
  font-weight: lighter;
  line-height: 30px;
  margin-top: 70px;
}

#portfolio-wrapper p {
  padding: 20px 20px 20px 20px;
}


.left-column {
  /*background: yellow;*/

  padding-right: 20px;
  width: 50%;
}

.right-column {
  /*background: blue;*/
  padding-left: 20px;
  width: 50%;
}

.image-setter {
  display: flex;
  justify-content: center;
}
